nav ul li {
  position: relative;
}

nav ul li{
    &:hover::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--brand-gold);
      transition: 0.2s ease;
    }
}

