@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,800;1,800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-gold: #c8a256;
  --color-brand-bg: #0e0e0e;
  --font-karantina: "Karantina", system-ui, sans-serif;
  --font-barlow: "Barlow", sans-serif;
  
    /* Imagenes de fondo */
  --background-image-sede-uno: url('./assets/images/sede-uno.png');
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c; 
}

::-webkit-scrollbar-thumb {
  background-color: #c5a253; 
  border-radius: 6px;
  border: 2px solid #1c1c1c; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0b85f; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c5a253 #1c1c1c;
}
